@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap");

* {
  font-family: "Cairo", sans-serif !important;
}

.hero-section {
  padding: 100px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 850px;
  max-height: 950px;
  margin-top: -20px !important;
}

.hero-content {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.text-area {
  color: white;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.text-area h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
  color: white;
}

.text-area p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.6;
}

.cta-button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: #f0f0f0;
}

.phone-area {
  margin-top: 100px;
  position: relative;
  width: 600px;
  height: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
}

.iphone-frame {
  width: 400px;
  height: 820px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 40px;
}
/* .phone-area {
  margin-top: 0;  
  width: 500px;
  height: 680px;
  background: url("../img/Image.png") center center/contain no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iphone-frame {
  width: 280px;
  height: 610px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
} */

.iphone-frame video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50px;
}

/* Notch Overlay */
.video-wrapper .notch-overlay {
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: auto;
  z-index: 20;
  pointer-events: none;
}

.pause-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  pointer-events: none;
}

.pause-overlay img {
  width: 80px;
  height: 80px;
}

/* media hero  */
@media (max-width: 767px) {
  .hero-section {
    padding: 90px 0 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.884)),
      url("../img/hero5.webp") center center/cover no-repeat;
    overflow: visible;
  }

  .hero-content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }

  .text-area {
    padding: 0 20px;
    max-width: 100%;
    width: 320px;

    text-align: center;
  }

  .text-area h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-top: 300px;
  }

  .text-area p {
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 20px auto;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 auto;
  }

  .phone-area {
    margin-top: 0;
    width: 400px;
    height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iphone-frame {
    width: 60%;
    height: 78%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .iphone-frame video {
    border-radius: 36px;
  }

  .pause-overlay img {
    width: 55px;
    height: 55px;
  }

  .video-wrapper .notch-overlay {
    width: 90px;
  }
}
/* media ippad  */

/* ======================= */
/*   Tablets (iPad)       */
/* ======================= */
@media (min-width: 768px) and (max-width: 1024px) {
  .hero-section {
    padding: 80px 40px;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  .hero-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    height: 530px;
  }

  .text-area {
    max-width: 350px;
    padding: 10px;
  }

  .text-area h2 {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .text-area p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .phone-area {
    margin-top: -100px;
    width: 550px;
    height: 1000px;
    background: url("../img/Image.png") center center/contain no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -30px;
  }

  .iphone-frame {
    width: 340px;
    height: 740px;
    margin-bottom: 30px;
    padding: 5px;
  }

  .iphone-frame video {
    border-radius: 36px;
  }

  .pause-overlay img {
    width: 60px;
    height: 60px;
  }

  .video-wrapper .notch-overlay {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .hero-section {
    padding: 80px 40px;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }

  .hero-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    max-width: 800px;
    height: 350px;
  }

  .text-area {
    max-width: 350px;
    padding: 10px;
    margin-top: 0px;
  }

  .text-area h2 {
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .text-area p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .phone-area {
    margin-top: -600px;
    width: 550px;
    height: 1000px;
    background: url("../img/Image.png") center center/contain no-repeat;
    display: flex;
    margin-left: 300px;
  }

  .iphone-frame {
    width: 265px;
    height: 565px;
    margin-bottom: 30px;
    padding: 5px;
  }

  .iphone-frame video {
    border-radius: 36px;
  }

  .pause-overlay img {
    width: 60px;
    height: 60px;
  }

  .video-wrapper .notch-overlay {
    width: 100px;
  }
}
   
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
    position: relative;
    /* width: 100%; */
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar > ul > li {
    white-space: nowrap;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.3s;
    color: #000;
    position: relative;
  }
  .home .navbar a,
  .home .navbar a:focus {
    color: #000000;
  }
  .home .sticked a,
  .home .sticked a:focus {
    color: #000;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(0.7);
  }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #000;
    font-weight: 700;
  }
  .home .navbar a:hover,
  .home .navbar .active,
  .home .navbar .active:focus,
  .home .navbar li:hover > a {
    color: #000000;
    font-weight: 700;
  }
  .home .sticked a:hover,
  .home .sticked .active,
  .home .sticked .active:focus,
  .home .sticked li:hover > a {
    color: #000;
    font-weight: 700;
  }
  .sticked a:hover,
  .sticked .active,
  .sticked .active:focus,
  .sticked li:hover > a {
    color: var(--bgSecColor);
  }
  .navbar .dropdown a:hover:before,
  .navbar .dropdown:hover > a:before,
  .navbar .dropdown .active:before {
    visibility: hidden;
  }
  .navbar .dropdown a:hover,
  .navbar .dropdown .active,
  .navbar .dropdown .active:focus,
  .navbar .dropdown:hover > a {
    color: var(--color-white);
    background: var(--color-secondary);
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--color-secondary);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: rgba(var(--color-white-rgb), 0.5);
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-white);
    background: var(--color-primary);
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  .navbar .megamenu {
    position: static;
  }
  .navbar .megamenu ul {
    right: 0;
    padding: 10px;
    display: flex;
  }
  .navbar .megamenu ul li {
    flex: 1;
  }
  .navbar .megamenu ul li a,
  .navbar .megamenu ul li:hover > a {
    color: rgba(var(--color-white-rgb), 0.5);
    background: none;
  }
  .navbar .megamenu ul li a:hover,
  .navbar .megamenu ul li .active,
  .navbar .megamenu ul li .active:hover {
    color: var(--color-white);
    background: var(--color-primary);
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    /* left: calc(100% - 30px); */
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}
@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.home .lang {
  color: black !important;
  border: 2px solid black;
}

/* experience-section */
/* .experience-section-wrapper {
  background: #f6f6f6;
  padding: 60px 120px;
  width: 100%;
  max-width: 1526px;
  margin: auto;
}

.content-area {
  display: flex;
  gap: 140px;
  align-items: center;
}

.text-area {
  width: 495px;
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #000;
  margin-bottom: 24px;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #595959;
  margin-bottom: 40px;
}

.dots-container {
  display: flex;
  gap: 12px;
  width: 233px;
  height: 8px;
}

.dot {
  width: 40px;
  height: 8px;
  border-radius: 2px;
  border: 1px solid rgba(89, 89, 89, 0.17);
  background-color: transparent;
  transition: all 0.3s ease;
}

.dot.active {
  width: 77px;
  background: rgba(29, 52, 76, 1);
  border: none;
}

.slider-container {
  display: flex;
  gap: 23px;
  align-items: center;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  transition: all 0.6s ease;
}

.slide.active {
  width: 771px;
  height: 458px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 18.78%);
}

.slide.inactive {
  width: 347px;
  height: 398px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 23.87%);
} */
/* experience-section */

/* section Featured Event   */
.featured-event {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color:  rgba(246, 246, 246, 1);

  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.featured-event h2 {
  width: 1000px;
  height: 44px;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  align-self: center;
  text-align: center;
  margin-left: 30px;
}

.featured-event p {
  width: 1100px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  align-self: center;
  text-align: center;
  margin-top: -20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.image-wrapper {
  position: relative;
  width: 1199px;
  height: 550px;
}

.featured-event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  display: block;
  position: relative;
  z-index: 1;
}

.blue-box {
  position: absolute;
  width: 100px;
  height: 70px;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 2px;
  background: rgba(29, 52, 76, 1);
  z-index: 0;
}

/* .event-link {
  width: 141px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 30px;
  color: rgba(29, 52, 76, 1);
} */

.gain-list {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
  color: #333;
  font-size: 16px;
  line-height: 28px;
}

.gain-list li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 10px;
}

.gain-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
}

.gain-list li:nth-child(1) {
  margin-left: 0px;
}
.gain-list li:nth-child(2) {
  margin-left: 15px;
}
.gain-list li:nth-child(3) {
  margin-left: 25px;
}
.gain-list li:nth-child(4) {
  margin-left: -5px;
}
@media (max-width: 767px) {
  .gain-list {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .gain-list li {
    padding-left: 0;
    margin-left: 0 !important;
  }

  .gain-list li::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 8px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
    position: relative;
    top: -1px;
  }
}
 
/* media mobile  */
@media (max-width: 767px) {
  .featured-event {
    height: 600px;
    padding: 20px;
    /* margin-top: 80px; */
    margin-bottom: 30px;
    margin-top: -50px;
    gap: 20px;
    width: auto ;
    margin-right: 20px;
  }

  .featured-event h2 {
    width: 343px;
    height: auto;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    color: #000;
    margin-left: 10px;
  }

  .featured-event p {
    width: 343px;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #595959;
    margin-left: 10px;

  }

  .image-wrapper {
    width: 327px;
    height: 250px;
    position: relative;
  }

  .featured-event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    width: 110%;

  }
    
  .blue-box {
    position: absolute;
    width: 30.83px;
    height: 29.04px;
    top: 0;
    right: 0;
    border-radius: 2px;
    background: rgba(29, 52, 76, 1);
    z-index: 0;
    transform: translate(130%, -40%);

  }
}
/* media  ipad  */

@media (min-width: 768px) and (max-width: 1024px) {
  .featured-event {
    width: 700px;
    height: 700px;
    gap: 30px;
  }

  .featured-event h2 {
    width: 100%;
    font-size: 36px;
    margin-left: 0;
    text-align: center;
  }

  .featured-event p {
    width: 100%;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 0;
    text-align: center;
  } 

  .image-wrapper {
    width: 600px;
    height: 350px;
    position: relative;
  }

  .featured-event img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    z-index: 1;
    position: relative;
  }

  .blue-box {
    position: absolute;
    width: 40px;
    height: 38px;
    top: -10px;
    right: -10px;
    border-radius: 2px;
    background: rgba(29, 52, 76, 1);
    z-index: 0;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .featured-event h2,
  .featured-event p {
    width: 90%;
    font-size: 32px;
  }

  .featured-event p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
  }

  .image-wrapper {
    width: 90%;
    height: auto;
    margin-top: 80px;
  }

  .featured-event img {
    height: auto;
    aspect-ratio: 16/9;
  }

  .blue-box {
    width: 30px;
    height: 28px;
    top: -5px;
    right: -5px;
  }
}

/* End */

.image-wrappers {
  position: relative;
  width: 250px;
  height: 160px;
  margin-top: 70px ;
  margin-bottom: 50px;
}

.experience-slider-section {
  margin-top: 200px;
  padding: 60px 120px;
}

.custom-container {
  display: flex;
  gap: 140px;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.left-content {
  width: 495px;
}

.title {
  width: 450px;
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 24px;
}

.description {
  width: 450px;
  font-size: 16px;
  color: #595959;
  line-height: 28px;
  margin-bottom: 30px;
}

.dots {
  display: flex;
  gap: 12px;
  height: 8px;
}

.dots .dot {
  height: 8px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.dots .dot.active {
  width: 77px;
  background-color: #1d344c;
}

.dots .dot.inactive {
  width: 40px;
  border: 1px solid rgba(89, 89, 89, 0.17);
  background: transparent;
}

.right-slider {
  display: flex;
  gap: 23px;
  align-items: center;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  transition: all 0.6s ease-in-out;
}

.slide.big {
  width: 400px;
  height: 458px;
}

.slide.small {
  width: 300px;
  height: 442px;
}
/* new  */
@keyframes rotateFade {
  0% {
    transform: rotate(-3deg) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.slide {
  animation: rotateFade 0.6s ease-out forwards;
  opacity: 0;
}

/* @keyframes blurFade {
  0% {
    filter: blur(8px);
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

.slide {
  animation: blurFade 0.8s ease-out forwards;
  opacity: 0;
} */

/* media */
@media (max-width: 767px) {
  .experience-slider-section {
    margin-top: 400px;
padding: 30px;
  }

  .custom-container {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .left-content {
    width: 100%;
    text-align: center;
  }

  .title {
    width: 343px;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    margin: 0 auto 20px;
  }

  .description {
    width: 343px;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto 30px;
    color: #595959;
  }

  .dots {
    justify-content: center;
    margin: 20px auto;
  }

  .right-slider {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
  }

  .slide {
    width: 100%;
    max-width: 343px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
  }

  .slide.small {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .experience-slider-section {
    margin-top: 250px;
    padding: 40px 24px;
  }

  .custom-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .left-content {
    width: 100%;
    text-align: center;
  }

  .title {
    width: 647px;
    height: auto;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #000;
    margin: 0 auto 16px auto;
  }

  .description {
    width: 647px;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #595959;
    margin: 0 auto 24px auto;
  }

  .dots {
    justify-content: center;
  }

  .right-slider {
    display: flex;
    justify-content: center;
    gap: 23px;
    overflow: hidden;
    flex-wrap: nowrap;
    width: 1141px;
    max-width: 100%;
  }

  .slide.big {
    width: 401px;
    height: 458px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 18.78%
    );
    border-radius: 2px;
  }

  .slide.small {
    width: 347px;
    height: 398px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 23.87%
    );
    border-radius: 2px;
  }
}
#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  flex-wrap: nowrap;
}

.slide {
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  transition: all 0.6s ease-in-out;
  flex-shrink: 0;
}

.slide.big {
  width: 401px;
  height: 458px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 18.78%
  );
}

.slide.small {
  width: 347px;
  height: 398px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 23.87%
  );
}

/* الموبايل */
@media (max-width: 767px) {
  .slide.big {
    width: 100%;
    max-width: 343px;
    height: 400px;
  }

  .slide.small {
    display: none;
  }

  #slider {
    gap: 0;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .experience-slider-section {
    margin-top: 200px;
    padding: 30px 16px;
  }

  .custom-container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .left-content {
    width: 100%;
    text-align: center;
  }

  .title {
    width: 100%;
    max-width: 600px;
    font-size: 32px;
    line-height: 110%;
    margin: 0 auto 14px auto;
  }

  .description {
    width: 100%;
    max-width: 600px;
    font-size: 15px;
    line-height: 26px;
    margin: 0 auto 20px auto;
  }

  .dots {
    justify-content: center;
  }

  .right-slider {
    display: flex;
    justify-content: center;
    gap: 16px;
    overflow: hidden;
    flex-wrap: nowrap;
    max-width: 768px;
  }

  .slide.big {
    width: 320px;
    height: 400px;
  }

  .slide.small {
    width: 260px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  #slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .slide.big {
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}

.lang-toggle {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  padding: 6px 12px;
  display: flex;
  align-items: center;
}

.lang-toggle:focus {
  box-shadow: none;
  outline: none;
}

.lang-icon {
  font-size: 12px;
  margin-top: 2px;
}
body.rtl {
  text-align: right;
  font-family: "Cairo", sans-serif;
}

body.ltr {
  text-align: left;
}

.hot-deals-swiper {
  overflow: visible;
}

.hot-deals-swiper .swiper-slide {
  width: auto;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .hot-deals-swiper .swiper-slide {
    width: 75%;
    flex-shrink: 0;
  }

  .card {
    height: auto;
    background-color:rgba(246, 246, 246, 1);
  }

  .card-image {
    height: 200px;
  }

  .card-image img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    display: block;
  }

  .card-title {
    font-size: 18px;
    line-height: 150%;
    padding: 10px;
  }

  .card-desc {
    line-height: 150%;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px;
  }

  .card-link {
    margin-bottom: 20px;
    font-size: 14px;
    padding: 5px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hot-deals-swiper .swiper-slide {
    width: 55%;
    flex-shrink: 0;
  }

  .card {
    width: 344px;
    height: 446px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 1);
    

    color: black;
    text-decoration: none;
  }

  .card-image {
    width: 344px;
    height: 250px;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    display: block;
  }
 
  .card-date {
    width: 344px;
    height: 19px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(89, 89, 89, 1);
  }

  .card-title {
    width: 282px;
    height: 48px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    padding: 0 10px;
  }

  .card-desc {
    width: 282px;
    height: 57px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 5px;
    color: rgba(89, 89, 89, 1);
    padding: 0 10px;
  }

  .card-link {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(29, 52, 76, 1);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    padding: 5px 10px;
  }
}

.card-image img {
  width: 100% !important;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 4px 4px 0 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section-title {
    width: 285px;
    height: 44px;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 1);
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 28px;
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .section-description {
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter {
    width: 100%;
    height: auto;
    padding: 40px 30px;
    margin: 40px auto;
  }

  .newsletter .overlay {
    padding: 30px;
    gap: 16px;
  }

  .newsletter-title {
    font-size: 28px;
  }

  .newsletter-desc {
    font-size: 15px;
  }

  .newsletter-form {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }

  .newsletter-form input[type="email"] {
    flex: 1;
    min-width: 60%;
    padding-left: 15px;
    font-size: 15px;
  }

  .newsletter-form button {
    width: auto;
    padding: 0 20px;
    font-size: 15px;
  }
}

/* ==== media ===== */
/* mobile  */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .newsletter {
    width: 100%;
    padding: 0 20px;
    height: auto;
  }

  .newsletter-form {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .newsletter-form input[type="email"],
  .newsletter-form button {
    width: 100%;
    border-radius: 5px !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
  }

  #hero h2,
  #hero p {
    text-align: center !important;
    width: 100% !important;
  }
}
/* ipad  */

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }

  .newsletter {
    width: 648px;
    padding: 0 40px;
  }

  .newsletter-form {
    width: 100%;
  }

  .logo-section {
    flex-wrap: wrap;
    gap: 24px;
  }
}
 
 
@media (min-width: 768px) and (max-width: 1024px) {
  .featured-eventee1 {
    width: 700px;
    height: 600px;
    gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .featured-event2 {
    width: 700px;
    height: 600px;
    gap: 30px;
  }
}
 @media (min-width: 768px) and (max-width: 1024px) {
  .featured-event3 {
    width: 700px;
    height: 600px;
    gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .featured-event4 {
    width: 700px;
    height: 700px;
    gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .featured-event5 {
    width: 700px;
    height: 400px;
    gap: 30px;
  }
} 

.card{
  background-color:rgba(246, 246, 246, 1) !important;
}

@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .mobile-nav-active .navbar {
    right: 0;
    width: 100%;

  }

  
}